<?xml version="1.0" encoding="UTF-8"?>
<project version="0.4.4">

  <projectInfo>
    <author>Yarygin Alexander</author>
    <title>Test Project</title>
    <comment></comment>
    <keywords>test example</keywords>
    <revision>1</revision>
    <modified>1234567890</modified>
  </projectInfo>

  <events>
    <systemEvents>
      <event ID="0" name="node on" group="PHY">
        <argument ID="0" name="nodeID" type="uint16" />
        <argument ID="1" name="coord x" type="double" />
        <argument ID="2" name="coord y" type="double" />
        <argument ID="3" name="coord z" type="double" />
      </event>
      <event ID="1" name="node off" group="PHY">
        <argument ID="0" name="nodeID" type="uint16" />
      </event>
      <event ID="2" name="change channel" group="MAC">
        <argument ID="0" name="nodeID" type="uint16" />
        <argument ID="1" name="new channel" type="uint16" />
      </event>
      <event ID="3" name="rx" group="MAC">
        <argument ID="0" name="nodeID" type="uint16" />
        <argument ID="1" name="message" type="ByteArray" />
        <argument ID="2" name="RSSI" type="double" />
      </event>
      <event ID="4" name="tx" group="MAC">
        <argument ID="0" name="nodeID" type="uint16" />
        <argument ID="1" name="message" type="ByteArray" />
        <argument ID="2" name="tx-power" type="double" />
      </event>
      <event ID="5" name="timer" group="PHY">
        <argument ID="0" name="nodeID" type="uint16" />
      </event>
      <event ID="6" name="measure" group="PHY">
        <argument ID="0" name="nodeID" type="uint16" />
        <argument ID="1" name="sensorName" type="string" />
        <argument ID="2" name="value" type="double" />
      </event>
      <event ID="7" name="move" group="PHY">
        <argument ID="0" name="nodeID" type="uint16" />
        <argument ID="1" name="coord x" type="double" />
        <argument ID="2" name="coord y" type="double" />
        <argument ID="3" name="coord z" type="double" />
      </event>
      <event ID="8" name="logtime" group="PHY">
        <argument ID="0" name="nodeID" type="uint16" />
        <argument ID="1" name="localTime" type="uint64" />
      </event>
      <event ID="9" name="changelink" group="PHY">
        <argument ID="0" name="nodeID" type="uint16" />
        <argument ID="1" name="nodeID2" type="uint16" />
      </event>
    </systemEvents>
    <userEvents>
    </userEvents>
  </events>

  <logFiles>
    <logFile ID="0" name="log_1.bin" />
    <logFile ID="1" name="log_2.bin" />
  </logFiles>

</project>
